.centerwraper{
    margin-bottom: 15vh;
    border: 20px solid rgb(177, 172, 172);
    
}

.breadcord{
    margin-left: 40px;
    line-height: 30px;
    position: relative;
    
}
.breadcord::after{
    border: 12px solid transparent;
    position: absolute;
    content:'';
    left: 2px;
    bottom: -20px;
    ;
    border-top:12px solid #fff;
}












